<ion-row>
	<ion-col text-center tappable (click)="goto(HomePage)" [ngClass]="{'selected':active==HomePage}">
		<ion-icon name="icon-home"></ion-icon>
		<div class="tab-name">{{'tabs.home'|translate}}</div>
	</ion-col>
	<ion-col text-center tappable (click)="goto(CategoriesPage)" [ngClass]="{'selected':active==CategoriesPage}">
		<ion-icon name="icon-grid-out"></ion-icon>
		<div class="tab-name">{{'tabs.categories'|translate}}</div>
	</ion-col>
	<ion-col text-center tappable (click)="goto(SearchPage)" [ngClass]="{'selected':active==SearchPage}">
		<ion-icon name="icon-search"></ion-icon>
		<div class="tab-name">{{'tabs.search'|translate}}</div>
	</ion-col>
	<ion-col text-center tappable (click)="goto(AccountPage)" [ngClass]="{'selected':active==AccountPage}">
		<ion-icon name="icon-account"></ion-icon>
		<div class="tab-name">{{'tabs.account'|translate}}</div>
	</ion-col>
	<ion-col text-center>
		<ion-icon><a target="_blank" href="https://api.whatsapp.com/send?phone={{'modern_footer_phone'|static}}&text=Bonjour%20%F0%9F%9B%8DLuxePerfect%F0%9F%98%8A%F0%9F%91%8C%F0%9F%8F%BB%F0%9F%92%AF"><img src="assets/images/whatsapp.png"/></a></ion-icon> 
		<div class="tab-name">LuxePerfect</div>
	</ion-col>
</ion-row>